// Про сетки и CSS Grid
.grid-container {
  display: grid;
  // grid-template-columns: 200px 200px 200px;
  // grid-template-rows: 200px 200px 200px;
  // column-gap: 20px;
  // row-gap: 20px;
  // Строки - колонки
  grid-template: 200px 200px 200px / 200px 200px 200px;
  gap: 20px;
}
.grid-elem {
  height: 50px;
  background-color: rgba(1, 1, 96, 1);
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #000;
  border-radius: 4px;
}
