.title {
  font-weight: bold;
  font-size: $s36;
  &_fz14 {
    font-size: $s14;
  }
  &_fz16 {
    font-size: $s16;
  }
  &_fz20 {
    font-size: $s20;
  }
  &_fz36 {
    font-size: $s36;
  }
  &_fz48 {
    font-size: $s48;
  }
  &__section-title {
    position: relative;
    text-align: center;
    @include before_circle;
    &:before {
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__section-subtitle {
    text-align: center;
  }
}
