// start style header;
.header {
  display: flex;
  margin-bottom: 130px;
  &__title {
    display: none;
  }
  &__nav {
    display: inline-flex;
    &--logo {
      max-height: 60px;
      margin-right: 495px;
    }
    &--list {
      display: flex;
      flex: 0 0 475px;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
    }
    &--item {
      display: inline-flex;
      text-align: center;
      align-items: center;
      line-height: 60px;
      &:last-child {
        margin-right: 0;
      }
    }
    &--search {
      transform: translateX(20%);
    }
    &--contacts {
      transform: translateX(1%);
      font-family: "Open Sans", serif;
      letter-spacing: 1.5px;
    }
    &--link {
      font-family: "Open Sans", serif;
      display: inline-flex;
      font-size: 24px;
      color: $light-white;
      transition: 0.6s all;
      &:hover,
      &:focus {
        color: $orange;
        svg path {
          fill: $orange;
        }
      }
    }
    &--svg path {
      transition: 0.6s all;
      path {
        fill: $light-white;
      }
    }
    &--btn {
      display: inline-flex;
      justify-content: center;
      transform: translateX(5%);
      background-color: transparent;
      text-align: center;
      border: 2px solid $orange;
      font-size: 23px;
      padding: 10px 15px;
      width: 120px;
      &:hover,
      &:focus {
        background-color: $orange;
        border: 2px solid $orange;
      }
      &:active {
        background-color: $press-btn;
        color: $light-white;
      }
    }
  }
}
// end style header;
