// start style swiper-carousel;
.latest__slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1050px;
  padding: 15px;
  .slide-1 {
    background: url("../../assets/images/Slide-1.jpg") center center/contain
      no-repeat;
  }
  .slide-2 {
    background: url("../../assets/images/Slide-2.jpg") center center/cover
      no-repeat;
  }
  .slide-3 {
    background: url("../../assets/images/Slide-3.jpg") center center/cover
      no-repeat;
  }
  &--slide {
    width: 300px !important;
    height: 360px;
    text-align: center;
    margin-right: 60px;
    padding: 252px 0 0 0;
    cursor: pointer;
    transition: 0.6s all;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 15px 3px $orange;
    }
    &:hover h3 {
      color: $orange;
      text-shadow: -6px -2px 16px $light-orange;
      transform: scale(1.1);
    }
    &:hover p {
      color: $orange;
      text-shadow: -6px -2px 16px $light-orange;
      transform: scale(1.1);
    }
  }
  &--title {
    font-size: 25px;
    letter-spacing: 0.1px;
    color: $light-white;
    margin-bottom: 17px;
    transition: 0.6s all;
  }
  &--desc {
    font-size: 18px;
    letter-spacing: 0.05px;
    color: $light-white;
    transition: 0.6s all;
  }
}
.arrows {
  position: absolute;
  content: "";
  top: 64.9%;
  transition: 0.6s all;
  cursor: pointer;
  &:hover path {
    outline: none;
    fill: $orange;
  }
}
.arrow__left {
  left: 0;
}
.arrow__right {
  right: 0;
  transform: rotate(180deg);
}
// end style swiper-carousel;
