<!-- getnotified -->
<section class="getnotified">
  <div class="getnotified__container container">
    <div class="getnotified__content content">
      <h2 class="getnotified__title">
        Get notified about new amazing articles
      </h2>
      <form id="getnotified-form" class="getnotified__form" action="#">
        <input
          name="email"
          required
          placeholder="Email"
          type="text"
          class="getnotified__form--email"
        />
        <input
          name="button"
          value="Send"
          type="submit"
          class="getnotified__form--btn wildlife__btn"
        />
      </form>
    </div>
  </div>
</section>
<!-- /getnotified -->
