//fonts
$main-font: "Poppins", sans-serif;

//colors
$white: #ffffff;
$black: #000000;
$orange: #cd6326;
$main-color: $orange;

//px_to_rem
$base-size: 14px;
@function px_to_rem($target, $context: $base-size) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0rem;
}

$s12: px_to_rem(12px);
$s14: $base-size;
$s16: px_to_rem(16px);
$s20: px_to_rem(20px);
$s24: px_to_rem(24px);
$s36: px_to_rem(36px);
$s48: px_to_rem(48px);

//container-box
$containerBox: 1440px;
